---
import Button from "../components/Button";
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Welcome">
	<p id="paragraph"> 
	<!-- style={{color:'red'}} -->
	Hello World</p>
	<Button client:load/>
</MainLayout>

<style lang="scss">
	p {
		color:green;
		&:hover {
		color:blue;
		}
	}
</style>

<script>
	const p  = document.querySelector('#paragraph');
	p.textContent = 'Hi Mateus';
</script>